@media (max-width: 960px) {
	.bl {width: 6%;}
	.bl>span {width:30px;height:20px;}
	.bl>span.bl_abs {
		position: absolute;
		left: 50%;
		margin: 0 -15px 1px!important;
	}
	.boulier_top {
		margin: 0px 0 0;
		display: block;
		text-align: center;
		position: relative;
		height: calc(30% - 0px);
	}
	.boulier_bottom {
    	margin: 0px 00px 0;
		display: block;
		text-align: center;
		position: relative;
		height: calc(70% - 13px);
	}
	.result.btn, .result.btn:hover{
		padding: 5px 10px;
		margin: 5px auto;
		width: 100%;
	}

	.btn.b13, .btn.b7, .btn.restart, h3.nbr {
		font-size: 14px!important;
		padding: 10px!important;
	}
	h3.btn.nbr {
		display: inline-block!important;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	h1 {
		font-size: 22px;
		margin: 23px auto 0px;
		display: block;
		float: none;
		padding: 0!important;
		line-height: 20px;
	}
}